* {
    margin: 0px;
    padding: 0px;
}

p,
ul {
    margin: 0px;
}

ul {
    margin: 0px;
}

.bg-color {
    background: radial-gradient(farthest-corner at 50% 50%,
            #5b3bdf 0%,
            rgba(91, 57, 220, 0) 100%);
    background: #5b3bdf;
}

.tab-bg {
    border-radius: 46px 0px 0px 46px;

}

.tab-bg-1 {
    border-radius: 0px 46px 46px 0px;

}

.tab-btn {

    list-style-type: none;

}

.btn-info {
    text-decoration: none;
}

.tab-data {
    padding: 9px 0;
    background-color: #927A7A;
}

a {
    text-decoration: none !important;
}

.tab-btn-active {

    color: linear-gradient(180deg,
            #ffbed4 0.00%,
            #ff2032 100.00%);
}

.bg-wrapper {
    background-color: #927A7A;
    border-radius: 24px;
    padding: 26px 34px;
    backdrop-filter: blur(10px);

}

.title-text {
    font-family: "Montserrat";
    font-size: 64px;
    font-weight: 500;
    line-height: 41px;
    font-style: normal;
    margin-bottom: 23px;
    color: #ffffff;
}

.subtitle-text {
    font-family: "Montserrat";
    font-size: 36px;
    font-weight: 500;
    line-height: 115%;
    font-style: normal;

    color: #ffffff;
}

.shape-round {
    border-radius: 100% !important;
}

.production-text {
    font-family: "Montserrat";
    font-size: 36px;
    font-weight: 500;
    line-height: 64px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}

.figure {
    position: relative;
}

.figure-caption {
    position: absolute;
    top: 165px;
    width: 100%;
    font-size: 27px !important;
    background-color: #927A7A;
    color: #ffffff !important;
    font-family: "Montserrat";
    line-height: 77%;
    padding: 9px;
    font-weight: normal;

    font-style: normal;


}

td {
    vertical-align: top;
}

.desigination {
    color: #ffffff;
    font-size: 17px;
}

.pop-wrapper {
    background-color: #927A7A;
    border-radius: 50px;
}

.main-title {
    font-family: "Montserrat";
    font-size: 93px;
    font-weight: normal;
    line-height: 60px;
    font-style: normal;
    margin-bottom: 32px;
    color: #ffffff;
}

.pop-up-title {
    font-family: "Montserrat";
    font-size: 33px;
    font-weight: 500;
    line-height: 21px;
    font-style: normal;

    color: #ffffff;
}

.pop-subcontent {
    font-family: "Montserrat";
    font-size: 26px;
    font-weight: 500;
    line-height: 46px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}

.Invest-btn {
    background: #f56c9b;
    background: linear-gradient(141deg,
            #f56c9b 0.00%,
            #ff2032 100.00%);
    border-radius: 55px;
    color: #ffffff;
    padding: 0% 6%;
    font-size: 43px;
}

.checked {
    color: orange;
}