
.body-background{
    background-image: url(../../Assets/Images/bg-1.png);
    height: 100vh;
    background-size: cover;
}
.background{
    background-image: url(../../Assets/Images/bg-1.png);
    height: 120vh;
    background-size: cover;
}

.login{
    height: 50%;
    width: 40%;
    padding: 30px 30px;
    background-color: #1c0734;
  margin: auto;
  border-radius: 21px;
  margin-top: 5%;
}

.signup{
    height: 70%;
    width: 40%;
    padding: 30px 30px;
    background-color: #1c0734;
  margin: auto;
  border-radius: 21px;
  margin-top: 5%;
}

.header{
    background:linear-gradient( to top, rgba(32,11,56,1) 26%, rgba(49,10,93,1) 100%);
 height:12vh;
}

input[type=text]{
    background-color: #37104d;
    border-top: #37104d;
    border-bottom: #37104d;
    border-right: #37104d;
    width:90%;
    padding:15px 15px 12px 50px;
    border-radius: 25px;
    margin-bottom: 3%;
    font-size: medium;
}
input[type=password]{
    background-color: #37104d;
    border-top: #37104d;
    border-bottom: #37104d;
    border-right: #37104d;
    width:90%;
    padding:15px 15px 12px 50px;
    border-radius: 25px;
    margin-bottom: 3%;
    font-size: medium;
}
h1{
    color: #fff !important;
    
    font-size: 37px;
    margin-bottom: 17px;
}
h3{
    color: #fff !important;

}
/* a{
    color: #fff !important;
    text-align: center;
    margin-top: 10%;
}
.btn1{
    background-color: #6E1FAE;
    border-color: #6E1FAE;
    color: #fff;
    height: 12%;
    width:20%;
    font-size: 20px;
    margin-top: 7%;
    border-radius: 20px;
    margin-bottom: 2%;
}
.btn{
    background-color: #6E1FAE;
    border-color: #6E1FAE;
    color: #fff;
    height: 7%;
    width:20%;
    font-size: 20px;
    margin-top: 4%;
    border-radius: 20px;
    margin-bottom: 2%;
}

.btn2{
    border-radius: 50px;
    background-color: #37104d;
    border: 3px solid #6e1fae;
    color: #fff;
    width: 25%;
    margin-top: 5%;
}
.btn2:hover{
    background-color: #6E1FAE;
}
/* .btn:hover{
background-color: #212529;
border-color: #212529;
} */
/* .password-image{
    position: absolute;
   top:46%;
    left: 34%;

}
.inbox-image{
    
        position: absolute;
       top:37%;
        left: 34%; */
    
/* }  */
/* .circle{
    position: absolute;
    right: 25px;
    width: 150px;
    bottom: 34px;
} */